.add-btn-container {
  .add-log-btn-container {
    display: flex;
    justify-content: flex-end;
  }
  .add-log-btn {
    border: 2px solid $primaryColor;
    background-color: Transparent;
    border-radius: 25px;
    padding: 6px 20px;
    font-size: 15px;
    color: $primaryColor;
    margin-top: 20px;
    width: 200px;

    &:focus {
      outline: 0;
      box-shadow: none;
      -webkit-appearance: none;
    }
    &:hover {
      border: 1.2px #4face5 solid;
      box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2);
    }
  }
}
.input-field-add-log {
  input {
    margin-bottom: 20px;
    width: 400px;
    border-radius: 25px;
    border: 1px rgba(128, 128, 128, 0.199) solid;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.06);
    padding: 6px 15px;
    &:focus {
      outline: 0;
      box-shadow: none;
      -webkit-appearance: none;
    }
    &:hover {
      border: 1.2px #4face5 solid;
      box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2);
    }
  }
}
