.banner-container {
  border: none;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: -2px 1px 2px 5px rgba(0, 0, 0, 0.06);
  .banner-header {
    margin: 30px 80px;
  }
  .office-work-image {
    width: 200px;
    margin-left:240px;
  }
}
