.member-item-container {
  // border-radius: 20px;
  // background-color: #495967;
  background-image: linear-gradient(#f5f7fa, #c3cfe2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 200px;
  margin: 20px;
  color: wrgb(68, 83, 96);
  overflow: hidden;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: "";
    pointer-events: none;
  }

  &::before {
    transform-origin: left top;
  }

  &::after {
    transform-origin: right bottom;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }

  .member-card-circle {
    color: rgb(68, 83, 96);
    display: inline;
    position: relative;
    left: -15px;
    top: 6px;
  }
  .member-card-name {
    font-size: 24px;
    display: inline-block;
    padding: 15px 30px;
    font-style: italic;
  }
  .member-card-title {
    padding: 5px 65px;
    font-size: 16px;
  }
  .member-card-phone {
    padding: 5px 65px;
    font-size: 16px;
  }
  .member-card-email {
    padding: 5px 65px;
    font-size: 16px;
  }
  .badge-delete {
    font-style: italic;
    font-size: 12px;
    color: rgb(68, 83, 96);
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 600;
    &:hover {
      transform: scale(1.1) skew(-8deg, 0deg);
      cursor: pointer;
    }
  }

}
//Member list
.background-img-left-corner {
  &:after {
    height: 500px;
    content: "";
    width: 1000px;
    top: -30px;
    left: -180px;
    position: absolute;
    z-index: -1;
    background: url("../images/bg-left-corner.png") no-repeat;
    background-size: 650px;
    display: inline-block;
    opacity: 0.7;
  }
}