@import "./variables.scss";
.navbar-container {
  .navbar-brand {
    color: rgb(68,83,96);
    font-weight: 700;
  }
  .navbar-toggler {
    &:focus {
      outline: 0;
      box-shadow: none;
      -webkit-appearance: none;
    }
    .custom-toggler-icon {
      color: $primaryColor;
      border: none;
      &:focus {
        outline: 0;
        box-shadow: none;
        -webkit-appearance: none;
      }
    }
  }

  .nav-link {
    color: rgb(68,83,96);
    margin: 5px 35px;
    font-size: 20px;
  }

  .nav-btn {
    border: 2px solid $primaryColor;
    background-color: Transparent;
    border-radius: 25px;
    padding: 0 25px;
    font-size: 15px;
    color: $primaryColor;
    height: 35px;
    margin: 10px;
    &:focus {
      outline: 0;
      box-shadow: none;
      -webkit-appearance: none;
    }
    &:hover {
      border: 2px #4face5 solid;
      box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2);
    }
  }
  .logout-item {
    display: inline-block;
    margin-top:17px;
    .fa-sign-out-alt {
      color: $primaryColor;
      margin-right: 3px;
    }
    .logout-caption {
      color: $primaryColor;
      font-size: 16px;
    }
    .logout-greeting{
      display: inline-block;
      margin-right: 8px;
      color: $primaryColor;
    }
  }
  .landing-nav{
    display: inline-block;
  }
}
