@import "./variables.scss";
.navbar-container {
  .navbar-brand-landing {
    color: $primaryColor;
    font-weight: 700;
    font-size: 23px;

    &:hover {
      text-decoration: none;
    }
  }
  .navbar-brand-home {
    color: rgb(68, 83, 96);
    font-weight: 700;
    font-size: 23px;
    margin-right: 35px;
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-toggler {
    &:focus {
      outline: 0;
      box-shadow: none;
      -webkit-appearance: none;
    }
    .custom-toggler-icon {
      color: $primaryColor;
      border: none;
      &:focus {
        outline: 0;
        box-shadow: none;
        -webkit-appearance: none;
      }
    }
  }
  .nav-log-member {
    .nav-link {
      color: rgb(68, 83, 96);
      margin: 5px 35px;
      font-size: 23px;
      font-weight: 400;
    }
  }
  .nav-home {
    .nav-link {
      color: $primaryColor;
      margin: 5px 35px;
      font-size: 23px;
      font-weight: 400;
    }
  }
  .nav-btn {
    border: 2px solid $primaryColor;
    background-color: Transparent;
    border-radius: 25px;
    padding: 0 25px;
    font-size: 18px;
    color: $primaryColor;
    height: 35px;
    margin: 10px 10px 10px 35px;
    &:focus {
      outline: 0;
      box-shadow: none;
      -webkit-appearance: none;
    }
    &:hover {
      border: 2px #4face5 solid;
      box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2);
    }
  }
  .logout-item {
    display: inline-block;
    .logout-caption-container {
      &:hover {
        text-decoration: none;
      }
    }

    .fa-sign-out-alt {
      color: rgb(68, 83, 96);
      margin-right: 3px;
    }
    .logout-caption {
      color: rgb(68, 83, 96);
      font-size: 18px;
    }
    .logout-greeting {
      display: inline-block;
      margin-right: 8px;
      color: rgb(68, 83, 96);
      font-size: 18px;
    }
  }
  .landing-nav {
    display: inline-block;
  }
}
