.register-form-container {
  padding: 0 50px;
  width: 100%;
  display: block;
  position: relative;
  height: 100%;
  animation: fadeInRight;
  animation-duration: 3s;

  .register-form-header {
    margin-top: 85px;
    &:after {
      height: 200px;
      content: "";
      width: 200px;
      top: -60px;
      right: -20;
      position: absolute;
      z-index: -1;
      background: url("../images/bg-table.png") no-repeat;
      background-size: 150px;
      display: inline-block;
      opacity: 0.5;
      transform: rotate(1000deg);
    }
  }
  input {
    width: 100%;
    border-radius: 25px;

    border: 1px rgba(128, 128, 128, 0.199) solid;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.06);
    padding: 6px 15px;
    &:focus {
      outline: 0;
      box-shadow: none;
      -webkit-appearance: none;
    }
    &:hover {
      border: 1.2px #4face5 solid;
      box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2);
    }
  }
  .register-form-btn {
    border: 2px solid $primaryColor;
    background-color: Transparent;
    border-radius: 25px;
    padding: 5px 20px;
    font-size: 15px;
    color: $primaryColor;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
  }
  .register-form-item {
    font-size: 16px;
    color: grey;
  }
}
