.navbar-container .navbar-brand {
  color: #50ace5; }
.navbar-container .navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
  -webkit-appearance: none; }
.navbar-container .navbar-toggler .custom-toggler-icon {
  color: #50ace5;
  border: none; }
  .navbar-container .navbar-toggler .custom-toggler-icon:focus {
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none; }
.navbar-container .nav-link {
  color: #50ace5;
  margin: 5px 35px;
  font-size: 20px; }
.navbar-container .nav-btn {
  border: 2px solid #50ace5;
  background-color: Transparent;
  border-radius: 25px;
  padding: 0 25px;
  font-size: 15px;
  color: #50ace5;
  height: 35px;
  margin: 10px; }
  .navbar-container .nav-btn:focus {
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none; }
  .navbar-container .nav-btn:hover {
    border: 2px #4face5 solid;
    box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2); }
.navbar-container .logout-item {
  display: inline-block;
  margin-top: 17px; }
  .navbar-container .logout-item .fa-sign-out-alt {
    color: #50ace5;
    margin-right: 3px; }
  .navbar-container .logout-item .logout-caption {
    color: #50ace5;
    font-size: 16px; }
  .navbar-container .logout-item .logout-greeting {
    display: inline-block;
    margin-right: 8px;
    color: #50ace5; }

.register-form-container {
  padding: 0 50px;
  width: 100%;
  display: block;
  position: relative;
  height: 100%;
  animation: fadeInRight;
  animation-duration: .5s; }
  .register-form-container .register-form-header {
    margin-top: 85px; }
    .register-form-container .register-form-header:after {
      height: 200px;
      content: "";
      width: 200px;
      top: -60px;
      right: -20;
      position: absolute;
      z-index: -1;
      background: url("../images/bg-table.png") no-repeat;
      background-size: 150px;
      display: inline-block;
      opacity: 0.5;
      transform: rotate(1000deg); }
  .register-form-container input {
    width: 100%;
    border-radius: 25px;
    border: 1px rgba(128, 128, 128, 0.199) solid;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.06);
    padding: 6px 15px; }
    .register-form-container input:focus {
      outline: 0;
      box-shadow: none;
      -webkit-appearance: none; }
    .register-form-container input:hover {
      border: 1.2px #4face5 solid;
      box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2); }
  .register-form-container .register-form-btn {
    border: 2px solid #50ace5;
    background-color: Transparent;
    border-radius: 25px;
    padding: 5px 20px;
    font-size: 15px;
    color: #50ace5;
    margin-top: 30px;
    width: 100%;
    justify-content: center; }
  .register-form-container .register-form-item {
    font-size: 16px;
    color: grey; }

.landing-page-wrapper {
  background-image: linear-gradient(#fdfdfd, #eef2f3);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed; }
  .landing-page-wrapper .landing-container .background-img-left-corner:after {
    height: 500px;
    content: "";
    width: 1000px;
    top: -80px;
    left: -180px;
    position: absolute;
    z-index: -1;
    background: url("../images/bg-left-corner.png") no-repeat;
    background-size: 1050px;
    display: inline-block;
    opacity: 0.7; }
  .landing-page-wrapper .landing-container h1 {
    color: #50ace5;
    font-weight: 600;
    font-size: 45px;
    margin-top: 140px; }
  .landing-page-wrapper .landing-container p {
    color: #a1c4e3;
    margin-right: 60px;
    margin-top: 30px;
    font-size: 16px; }
  .landing-page-wrapper .landing-container .intro-btn-container {
    width: 100%; }
    .landing-page-wrapper .landing-container .intro-btn-container .intro-btn {
      border: 2px solid #50ace5;
      background-color: Transparent;
      border-radius: 25px;
      padding: 5px 20px;
      font-size: 15px;
      color: #50ace5;
      margin-top: 30px; }
      .landing-page-wrapper .landing-container .intro-btn-container .intro-btn:focus {
        outline: 0;
        box-shadow: none;
        -webkit-appearance: none; }
      .landing-page-wrapper .landing-container .intro-btn-container .intro-btn:hover {
        border: 2px #4face5 solid;
        box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2); }
  .landing-page-wrapper .landing-container .landing-image {
    margin-top: 80px;
    animation: fadeInRight;
    animation-duration: 0.5s; }

.login-form-container {
  padding: 0 50px;
  width: 100%;
  display: block;
  position: relative;
  height: 100%;
  animation: fadeInRight;
  animation-duration: .5s; }
  .login-form-container .login-form-item {
    font-size: 16px;
    color: grey; }
  .login-form-container .login-form-header {
    margin-top: 155px; }
  .login-form-container input {
    width: 100%;
    border-radius: 25px;
    border: 1px rgba(128, 128, 128, 0.199) solid;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.06);
    padding: 6px 15px; }
    .login-form-container input:focus {
      outline: 0;
      box-shadow: none;
      -webkit-appearance: none; }
    .login-form-container input:hover {
      border: 1.2px #4face5 solid;
      box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2); }
  .login-form-container .login-form-btn {
    border: 2px solid #50ace5;
    background-color: Transparent;
    border-radius: 25px;
    padding: 5px 20px;
    font-size: 15px;
    color: #50ace5;
    margin-top: 30px;
    width: 100%;
    justify-content: center; }

.banner-container {
  border: none;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: -2px 1px 2px 5px rgba(0, 0, 0, 0.06); }
  .banner-container .banner-header {
    margin: 30px 80px; }
  .banner-container .office-work-image {
    width: 200px;
    margin-left: 240px; }

.home-container {
  background-color: #f9f9f9;
  height: 100%;
  padding-top: 30px; }

.input-field-search-bar {
  display: inline-block;
  width: 100%; }
  .input-field-search-bar input {
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
    border: 1px rgba(128, 128, 128, 0.199) solid;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.06);
    padding: 6px 15px; }
    .input-field-search-bar input:focus {
      outline: 0;
      box-shadow: none;
      -webkit-appearance: none; }
    .input-field-search-bar input:hover {
      border: 1.2px #4face5 solid;
      box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2); }

.add-btn-container .add-log-btn-container {
  display: flex;
  justify-content: flex-end; }
.add-btn-container .add-log-btn {
  border: 2px solid #50ace5;
  background-color: Transparent;
  border-radius: 25px;
  padding: 6px 20px;
  font-size: 15px;
  color: #50ace5;
  margin-top: 20px;
  width: 200px; }
  .add-btn-container .add-log-btn:focus {
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none; }
  .add-btn-container .add-log-btn:hover {
    border: 1.2px #4face5 solid;
    box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2); }

.modal-title {
  font-size: 26px;
  color: #50ace5; }

.modal-content {
  border-radius: 25px; }
  .modal-content:focus {
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none; }

.close:focus {
  outline: 0;
  box-shadow: none;
  -webkit-appearance: none; }

.input-field-add-log textarea {
  margin-bottom: 20px;
  width: 400px;
  border-radius: 25px;
  border: 1px rgba(128, 128, 128, 0.199) solid;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.06);
  padding: 15px 15px; }
  .input-field-add-log textarea:focus {
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none; }
  .input-field-add-log textarea:hover {
    border: 1.2px #4face5 solid;
    box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2); }

.input-field-select-member select {
  border: 1px rgba(128, 128, 128, 0.199) solid;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
  padding: 3px 20px; }
  .input-field-select-member select:focus {
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none; }
  .input-field-select-member select:hover {
    border: 1.2px #4face5 solid;
    box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2); }

.input-field-check-box input {
  -webkit-appearance: none;
  border: 1px rgba(128, 128, 128, 0.199) solid;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.06), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  margin-top: 25px; }
  .input-field-check-box input:focus {
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none; }
  .input-field-check-box input:hover {
    border: 1.2px #4face5 solid;
    box-shadow: -2px 1px 2px rgba(79, 172, 229, 0.2); }
  .input-field-check-box input:active, .input-field-check-box input:checked:active {
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.06), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); }
  .input-field-check-box input:checked {
    background-color: #4fabe518;
    border: 1px solid #4fabe518;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7; }
  .input-field-check-box input:checked:after {
    content: "\2714";
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7; }
.input-field-check-box .checkbox-caption {
  display: inline-block;
  margin-left: 9px;
  padding: 8px 0;
  font-style: italic;
  font-weight: 600; }

.submit-log-btn {
  border: 2px solid #50ace5;
  background-color: Transparent;
  border-radius: 25px;
  padding: 3px 6px;
  font-size: 15px;
  color: #50ace5;
  margin-top: 10px;
  width: 100px; }
  .submit-log-btn:focus {
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none; }
  .submit-log-btn:hover {
    border: 1.2px #4face5 solid;
    box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2); }

.cancel-add-log-btn {
  border: 2px solid #50ace5;
  background-color: Transparent;
  border-radius: 25px;
  padding: 3px 6px;
  font-size: 15px;
  color: #50ace5;
  margin-top: 10px;
  width: 100px; }
  .cancel-add-log-btn:focus {
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none; }
  .cancel-add-log-btn:hover {
    border: 1.2px #4face5 solid;
    box-shadow: -2px 1px 2px 5px rgba(79, 172, 229, 0.2); }

.toast {
  position: absolute; }
  .toast .toast-header {
    color: rgba(216, 122, 122, 0.877); }

/*# sourceMappingURL=style.css.map */
